In [2]:
a=input()
b=input()
c=a+b
print(c)

hem
anth
hemanth

In [3]:
a=int(input())
b=int(input())
c=a+b
print(c)

2
2
4

In [5]:
a=5
print("The type of a",type(a))
b=40.5
print("The type of b",type(b))
c=1+3j
print("The type of c",type(c))
print("c is a complex number",isinstance(1+3j,complex))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
c is a complex number True

In [17]:
a=' hi guys'
b=' hello world'
print(a[0:3])
print(b[0:5])
print(a*2)
print(a+b)

 hi
 hell
 hi guys hi guys
 hi guys hello world

In [25]:
tup=("hi","python",2)
print(type(tup))
print(tup)
print(tup[1:])
print(tup+tup)
print(tup*3)

<class 'tuple'>
('hi', 'python', 2)
('python', 2)
('hi', 'python', 2, 'hi', 'python', 2)
('hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2)

In [29]:
rollno=[1,2,3,4,5]
name=['a','b','c','d','e']
data=list(zip(rollno,name))
print(data)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [35]:
d={101:'jimmy', 102:'alex', 103:'john', 104:'mike'}

print("2nd name is: "+d[104])
d1=d.copy()
print(d1)

2nd name is: mike
{101: 'jimmy', 102: 'alex', 103: 'john', 104: 'mike'}

In [37]:
print(type(true))
print(type(false))
print(true)

NameError: ignored

In [39]:
set1=set()
set2={'james',2,3,'python','james',2,3}
print(set2)
set2.add(10)
print(set2)
set2.remove(2)
print(set2)
set1.add(12)
print(set1)

{2, 3, 'python', 'james'}
{2, 3, 'python', 'james', 10}
{3, 'python', 'james', 10}
{12}